venv/
.env

*.pgn

!data/.gitkeep

data/*.pgn

__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
dist/
build/
coverage/
tmp/
out-tsc
*.tsbuildinfo

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.DS_Store
Thumbs.db

npm-debug.log
yarn-error.log

venv/
node_modules/
__pycache__/
.env

data/*
!data/.gitkeep
*.csv